<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
</head>
<body class="bg-slate-900 text-slate-200 min-h-screen flex flex-col">
  <%- include('../partials/navbar') %>
  
  <div class="flex flex-grow">
    <% if (locals.user && locals.user.isAdmin) { %>
      <%- include('../partials/sidebar') %>
    <% } %>
    
    <main class="flex-grow p-6">
      <%- include('../partials/messages') %>
      <h1 class="text-3xl font-bold mb-6"><%= title %></h1>
      <%- body %>
    </main>
  </div>
  
  <%- include('../partials/footer') %>
</body>
</html>